<div class="data-form">
  <form class="form-signin" action="<%=`/forums/${forum._id}/update?_method=PUT`%>" method="POST">
    <h2 class="form-signin-heading">Edit Forum:</h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control" value="<%= forum.title %>" placeholder="Title" autofocus>
    <label for="inputContent">Content</label>
    <input type="text" name="content" id="inputContent" class="form-control" value="<%= forum.content %>" placeholder="Content">
   
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
</div>
